			<header id="main-header" data-height-onload="66">
			<div class="container clearfix et_menu_container">
							<div class="logo_container">
					<span class="logo_helper"></span>
					<a href="{{ include.home }}">
						<img src="{{ include.relpath }}zpush.jpg" alt="Z-Push" id="logo" data-height-percentage="54" />
					</a>
				</div>
							<div id="et-top-navigation" data-height="66" data-fixed-height="40">
											<nav id="top-menu-nav">
													<ul id="top-menu" class="nav">
																	<li ><a href="{{ include.home }}">Home</a></li>
								
								<li class="page_item page-item-30"><a href="{{ include.relpath }}bugs/">Bugs</a></li>
<li class="page_item page-item-175"><a href="{{ include.relpath }}compatibility/">Compatibility</a></li>
<li class="page_item page-item-24"><a href="{{ include.relpath }}developers/">Developers</a></li>
<li class="page_item page-item-28"><a href="{{ include.relpath }}download/">Download</a></li>
<li class="page_item page-item-26"><a href="{{ include.relpath }}faq/">FAQ</a></li>
									<li class="cat-item cat-item-1"><a href="{{ include.relpath }}category/news/">News</a>
</li>
							</ul>
												</nav>
					
					
					
										<div id="et_top_search">
						<span id="et_search_icon"></span>
					</div>
					
					<div id="et_mobile_nav_menu">
				<div class="mobile_nav closed">
					<span class="select_page">Select Page</span>
					<span class="mobile_menu_bar mobile_menu_bar_toggle"></span>
				</div>
			</div>				</div> <!-- #et-top-navigation -->
			</div> <!-- .container -->
			<div class="et_search_outer">
				<div class="container et_search_form_container">
					<form role="search" method="get" class="et-search-form" action="https://duckduckgo.com/">
				    	<input type="hidden" name="sites" value="z-push.org">
						<input type="text" class="et-search-field" placeholder="Search &hellip;" name='q' value="" title="Search for:" />
					</form>
					<span class="et_close_search_field"></span>
				</div>
			</div>
		</header> <!-- #main-header -->
